*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
body{
    background-color: #f4f4f4;
}
header{
    position: relative;
}
article{
    position: relative;
}
footer{
    height: 10.5em;
    background-color: #333;
}
a{
    text-decoration: none;
    outline:none;
}
a:hover{
    cursor: pointer;
}
.Stick{
    height: 2em;
    width: 2em;
    position: fixed;
    right: 3em;
    bottom: 4em;
    background-color: #000000;
    z-index: 2;
    padding: 1em;
    border-radius: 10px;
    opacity: 0.5;
    display: none;
    transition: all 0.5s;
}
.Stick:hover{
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    transform-origin: center;
    transform: scale(1.1);
    
}
.Stick>svg{
    width: 2em;
    fill: white;
    transform-origin: center;
    transform: rotate(180deg);
}
#oheader{
    position: absolute;
    height: 24em;
    z-index: -1;
}
#navigation{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
    z-index: 2;
}
#navigation>img{
    width: 8em;
    height: auto;
}
#navigation>span{
    padding: 0.5em;
    margin-left: 1em;
}
#navigation>.hr{
    margin-left: 1em;
}
#navigation>.more{
    margin-left: 1.3em;
}
#signin{
    padding: 0.3em 1.5em;
    border-radius: 0.2em;
    margin-left: 1em;
}
#signin:hover{
    transform-origin: center;
    transform: scale(1.1);
    cursor:pointer;
}
.SignPanel{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0 ,0 ,0 , 0.3);
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
    
}
.SignPanel>.Panel{
    height: 19em;
    width: 32em;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    right: 0;
    transform-origin: center;
    transform:rotateY(90deg);
}
.SignPanel>.Panel>img{
    width: 9em;
}
.SignPanel>.Panel>*:not(.close){
    margin: 0.3em 5em;
    position: relative;
    top: -0.8em;
}
.signText{
    width: 26em;
    height: 2.5em;
    border: 1px solid #808080;
    border-radius:5px;
    -webkit-border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
}
.signText>*{
    margin: 0 0.2em;
}
.signText>.hr{
    width: 1px;
    height: 1.3em;
    background-color: #808080;
}
.signText>.text{
    width: 22em;
    height: 2em;
    background-color: transparent;
    outline:none;
    border: none;
    color: black;
    font-size: 0.8em;
}
.SignPanel>.Panel>.checkbox{
    width: 26em;
    height: 1em;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    color: #808080;
}
.SignPanel>.Panel>.checkbox>a{
    color: orange;
}
.SignPanel>.Panel a:hover{
    text-decoration: underline;
}
.LoginPanel>.Panel a:hover{
    text-decoration: underline;
}
.SignPanel>.Panel>.signbtn{
    width: 26em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #888888;
    background-color: #BEBDBD;
    color: #888888;
    border-radius: 5px;
}
.SignPanel>.Panel>.signbtn:hover{
    border: 1px solid orange;
    background-color: orange;
    color: white;
    cursor:pointer;
}
.SignPanel>.Panel>.signhr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.SignPanel>.Panel>.signhr>hr{
    border: none;
    width: 6.5em;
    margin: 0 0.5em;
    height: 1px;
    background-color: #A9A9A9;
    
}
.SignPanel>.Panel>.signhr>a{
    color: #A9A9A9;
    font-size: 0.8em;
}
.rotateY{
    transform:rotateY(0deg) !important;
    transition: all 0.5s;
}
.close>svg{
    height: 1em;
    fill: gray;
    position: absolute;
    top: 1em;
    right: 1em;
}
.close:hover>svg{
    fill: black;
    transform-origin: center;
    transform: scale(1.1);
    cursor:pointer;
}
.gotoLogin{
    height: 1em;
    position: absolute;
    bottom: 2em;
    right: 2em;
    font-size: 0.8em;
    color: #888888;
}
.gotoLogin>a{
    color: orange;
}
#login{
    padding: 0.3em 1.5em;
    border-radius: 0.2em;
    margin-left: 1em;
}
#login:hover{
    transform-origin: center;
    transform: scale(1.1);
    cursor:pointer;
}
.LoginPanel{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0 ,0 ,0 , 0.3);
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
}
.LoginPanel>.Panel{
    height: 19em;
    width: 32em;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    right: 0;
    transform-origin: center;
    transform:rotateY(90deg);
}
.LoginPanel>.Panel>img{
    width: 9em;
}
.LoginPanel>.Panel>*:not(.close){
    margin: 0.3em 5em;
    position: relative;
    top: -0.8em;
}
.loginText{
    width: 24em;
    height: 2em;
    border: 1px solid #808080;
    border-radius:5px;
    -webkit-border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
}
.loginText>.text{
    width: 23em;
    height: 2em;
    background-color: transparent;
    outline:none;
    border: none;
    color: black;
    font-size: 0.8em;
}
.loginbtn{
    width: 24em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #888888;
    background-color: #BEBDBD;
    color: #888888;
    border-radius: 5px;
}
.loginbtn:hover{
    border: 1px solid orange;
    background-color: orange;
    color: white;
    cursor:pointer;
}
.LoginPanel>.Panel>.checkbox{
    width: 25em;
    height: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    color: #808080;
}
.LoginPanel>.Panel>.checkbox>div{
    display: flex;
    align-items: center;
}
.LoginPanel>.Panel>.checkbox>a{
    color: orange;
}
.loginhr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginhr>hr{
    border: none;
    width: 7em;
    margin: 0 0.5em;
    height: 1px;
    background-color: #A9A9A9;
    
}
.loginhr>a{
    color: #A9A9A9;
    font-size: 0.8em;
}
.gotoSign{
    height: 1em;
    position: absolute;
    bottom: 2em;
    right: 2em;
    font-size: 0.8em;
    color: #888888;
}
.gotoSign>a{
    color: orange;
}
.more{
    align-self: flex-start;
    position: relative;
    top: 1.4em;
    list-style: none;
}
.more:hover{
    height: 10em;
}
.more:hover>#down{
    display: block;
}
#down{
    display: none;
}
.more>li:not(.more-down){
    width: 5px;
    height: 5px;
    float: left;
    margin-left: 2px;
    border-radius: 0.15em;
}
.more-down{
    position: absolute;
    top: 1.5em;
    left: -8.5em;
    display: flex;
    width: 15em;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 2;
}
.more-down>.triangle{
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 1em solid white;
    margin-left: 3em;
    z-index: 2;
}
.more-down>.radiu-square{
    width: 15em;
    height: 10em;
    background-color: white;
    scrollbar-shadow-color: ;
    border-radius: 3px;
    box-shadow: 2px 1px 2px rgba(0,0,0,0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.more-down>.radiu-square>span{
    font-weight: bold;
}
.more-down>.radiu-square>a{
    margin-left: 1.2em;
    margin-right: 1.2em;
    font-size: 0.8em;
}
.more-down>.radiu-square>p{
    position: relative;
    left: 4.5em;
    font-size: 0.75em;
    color: darkgrey;
}
.more-down>.radiu-square>p>a{
    margin-left: 0.2em;
    margin-right: 0.2em;
}
.more-down>.radiu-square>hr{
    width: 13em;
    height: 1px;
    background-color: darkgrey;
    border: none;
    margin-left: 1em;
    margin-right: 1em;
}
.radiu-square>*{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
.more-down>.radiu-square a:hover{
    color: #ff6600;
    cursor:pointer;
}

.one{}
.one>.logo2{
    display: none;
}
.one>span{
    color: white;
}
.one>span:nth-of-type(4){
    font-weight:blod;
    border-bottom: 0.1em solid white;
}
.one>span:hover{
    font-weight:blod;
    border-bottom: 0.1em solid white;
}
.one>span>a{
    color: white;
}
.one>.hr{
    width: 1px; 
    height: 1.3em; 
    background-color: white; 
}
.one>.more{
    margin-right: 35em;
}
.one>#navseach{
    display: none;
}
.one>.more>li:not(.more-down){
    background-color: white;
}
.one>#signin{
    color: white;
    border: 1px solid rgba(240, 38, 44, 0.5);
    background-color: rgba(240, 38, 44, 0.5);
}
.one>#signin:hover{
    border: 1px solid rgba(240, 38, 44, 1);
    background-color: rgba(240, 38, 44, 1);
}
.one>#login{
    color: white;
    border: 1px solid white;
}
.one>#login:hover{
    background-color: white;
    color: black;
}

.two{
    background: white;
    box-shadow: 3px 0 2px #888888;
}
.two>.logo1{
    display: none;
}
.two>span{
    color: black;
}
.two>span:nth-of-type(4){
    font-weight:blod;
    border-bottom: 0.1em solid black;
}
.two>span:hover{
    font-weight:blod;
    border-bottom: 0.1em solid black;
}
.two>span>a{
    color: black;
}
.two>.hr{
    width: 1px; 
    height: 1.3em; 
    background-color: #888888; 
}
.two>.more{
    margin-right: 10em;
}
.two>.more>li:not(.more-down){
    background-color: #888888;
}
.two>#signin{
    color: white;
    border: 1px solid rgba(240, 38, 44, 1);
    background-color: rgba(240, 38, 44, 1);
}
.two>#signin:hover{
    border: 1px solid #dc1015;
    background-color: #dc1015;
}
.two>#login{
    color: black;
    border: 1px solid black;
}
.two>#login:hover{
    background-color: #f2f2f2;
}

#navseach{
    position: relative;
}
#navseach:hover>.seachBtn{
    background-color: rgba(10, 10, 10, 0.1);
}
.seachBtn>svg{
    position: absolute;
    top: 0.3em;
    right: 0.5em;
    width: 1em;
    fill: black;
    opacity: 0.5;
}
.seachBtn>svg:hover{
    opacity: 1;
    cursor:pointer;
}
.seachBtn{
    height: 1.6em;
    width: 25em;
    border: 1px solid #797979;
    border-radius: 2px;
    position: relative;
}
.seachBtn>input{
    height: 1.6em;
    width: 23em;
    background-color: transparent;
    outline:none;
    border: none;
    caret-color: black;
    color: black;
    font-size: 0.8em;
    position: absolute;
    top: 0.2em;
    left: 0.5em;
    opacity: 0.6;
}
.seachBtn>input:focus{
    opacity: 1;
}
#banner{
    width: 100%;
    height: 26em;
    overflow: hidden;
}
#bannerImg{
    white-space: nowrap;
    letter-spacing: -6px;
}
#bannerImg>img{
    width: 50em;
    position: relative;
    filter: brightness(25%);
}
#bannertab{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
    letter-spacing: -2px;
    text-align: center;
}
#bannertab>div{
    display: inline-block;
    width: 10%;
    height: 1.3em;
    background-color: #808080;
    opacity: .8;
    transform-origin: center;
    transition: all .6s; 
}
@keyframes brightness{
    from{
        filter: brightness(25%);
    }
    to{
        filter: brightness(100%);
    }
}
@-webkit-keyframes rotate{
    from{
        filter: brightness(25%);
    }
    to{
       filter: brightness(100%);
    }
}
.IMGSelected{
    filter: brightness(100%) !important;
    animation: brightness 1s ease;
    -webkit-animation: brightness 1s ease;
}
.Selected{
    height: 1.5em !important;
    background-color: orange !important;
    width: 12% !important;
}
.Saying{
    width: 100%;
    z-index: 1;
    width: 100%;
    height: 2em;
    color: black;
    font-weight: bold;
    background-color: white;
    text-align: center;
    padding-top: 0.5em;
    box-shadow: 3px 0 2px black;
}
#activityBox{
    width: 90%;
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

#activityBox>div{
    width: 36em;
    height: 30em;
    background-color: white;
    position: relative;
    transition: all .7s;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 2em;
}
#activityBox>div:hover{
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}
#activityBox>div:hover>img{
    transform: scale(1.06);
    cursor: pointer;
}
#activityBox>div>img{
    width: 36em;
    transform-origin: bottom;
    transition: all .5s;
}
#activityBox>div>h1{
    margin: 1em;
    font-size: 1.2em;
    font-weight: 600;
    font-family: "宋体";
}
#activityBox>div>h1:hover{
    color: orange;
    cursor: pointer;
}
#activityBox>div>hr{
    margin: 1em;
    border-color: #CCCCCC;
    opacity: .2;
}
#activityBox>div>p{
    font-size: .8em;
    margin: 0 1.5em;
    color: #797979;
}
#loadmoreBox{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 4em;
}
#loadmoreBox>div{
    margin: 0 0.5em;
    height: 2.5em;
    width: 2.5em;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#loadmoreBox>div:nth-of-type(1){
    color: white;
    background: black;
}
#loadmoreBox>div:hover{
    color: white;
    background: rgba(240, 38, 44, 1);
    cursor: pointer;
}
.left{
    float: left;
}
.right{
    float: right;
}
.textend{
    text-align: end;
}
.textbtn:hover{
    color: orange;
    text-decoration: underline;
    cursor: pointer;
}
.clear{
    clear: both;
}
.footerA{
    margin-left: 7.5em;
    margin-bottom: 3em;
}
.footerA>a{
    font-size: 0.875em;
    float: left;
    margin-right: 3em;
    margin-top: 3em;
    color: #999;
    margin-top: 3.4em;
}
.clearLeftFloat{
    clear: left;
}
footer a:hover{
    cursor: pointer;
    color: #ccc;
}
.footerhr{
    height: 1px;
    width: 74em;
    background-color: #999;
    margin: 0 auto;
    opacity: 0.3;
}
.footerB{
    text-align: center;
    color: #999;
    margin-top: 1.2em;
    font-size: 0.875em;
}
.footerB>a{
    margin-right: 1em;
}
.footerB>a:hover{
    text-decoration: underline;
}